!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/nox.css')
    script(src='/javascripts/jquery-1.6.4.min.js')
    script(src='/javascripts/rails.js')
    script(src='/javascripts/buzz.js')
    script(src='/javascripts/nox.js')
    script(src='/socket.io/socket.io.js')
  body!= body
    div(class='navbar navbar-fixed-top')
      div(class='navbar-inner')
        div(class='container')
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Nox
          ul.nav.pull-right
            li
              a(href='/kill-all', data-confirm="Are you sure you want to kill all the current requests?") Kill All
            li
              if sounds
                a(href='/?sounds=false') Sounds Off
              else
                a(href='/?sounds=true') Sounds On
