textarea {
  width: 90%;
  height: 200px;
}

.request {
  background: whiteSmoke;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.request.error .inputs {
  display: none;
}

.error-message {
  font-weight: bold;
  color: white;
}

.global {
  position: absolute;
  top: 30px;
  right: 30px;
}

.alert {
  margin-bottom: 8px !important;
}

.btn-toolbar {
  margin-top: 0px;
}
